html {
	font-size: 2.3vh;
	/*font-size: 20px;*/
}

body,
div {
	margin: 0;
	padding: 0;
	border: 0;
}

@font-face {
	font-family: "Noto";
	src: url("font/NotoSans-Regular.ttf");
}

@font-face {
	font-family: "NotoBold";
	src: url("font/NotoSans-Bold.ttf");
}

@font-face {
	font-family: "Raleway";
	src: url("font/Raleway-Regular.ttf");
	font-weight: 500;
}

@font-face {
	font-family: "RalewaySemi";
	src: url("font/Raleway-SemiBold.ttf");
	font-weight: 700;
}


@font-face {
	font-family: "RalewayMedium";
	src: url("font/Raleway-Medium.ttf");
	font-weight: 600;
}

@font-face {
	font-family: "RalewayBold";
	src: url("font/Raleway-Bold.ttf");
	font-weight: bold;
	font-weight: 700;
}


.hidden {
	display: none;
}

body {
	background-color: #064c8d;
	font-family: "Raleway";
	background-image: url("../img/bluegrid.png");
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-position: top;
}

button {
	font-family: "Raleway";
	color: #000;
}


.uibutton {
	font-family: "RalewayMedium";
	height: 2.5rem;
	border-radius: 1.25rem;
	font-size: 1rem;
	padding: 0 1.4em 1px;
	box-shadow: -3px -3px 0px 0px #C69E00 inset, 3px 3px 0px 0px #000000;
	border: 1px solid #222222;
	background-color: #FFCF10;
	display: flex;
	justify-content: center;
	align-items: center;
}

.uibutton:hover,
.uibutton:focus {
	background-color: #FFEB9C;
	transform: translateY(-1px);
}

.uibutton:active {
	box-shadow: 3px 3px 0px 0px #C69E00 inset;
	color: #000;
	background-color: #FFCF10;
}

body.moving {
	overflow-y: hidden;
}

strong {
	font-family: "RalewayBold";
	font-weight: 600;
}

.slide {
	transition: transform 1s cubic-bezier(0.25, -0.25, 0.5, 1.2);
}

.slide2 {
	transition: transform 1s cubic-bezier(0.25, -0.25, 0.5, 1.2);
}

.slide.exit {
	transform: translateY(-110vh);
}

.slide2.exit {
	transform: translateY(100vh);
}

.slide.enter {
	transform: none;
}

.fade {
	transition: opacity 0.4s ease;
}

.fade.enter {
	opacity: 1;
	transition-duration: 0.4s;
}

.fade.exit {
	opacity: 0;
	transition-duration: 0.25s;
}

.ready {
	transition: none !important;
}

.uibutton.secondary {
	box-shadow: -3px -3px 0px 0px #7098C7 inset, 3px 3px 0px 0px #000000;
	background-color: #7ebfff;
}


.uibutton.secondary:hover,
.uibutton.secondary:focus {
	background-color: #d0e8ff;
}

.uibutton.secondary:active {
	box-shadow: 3px 3px 0px 0px #7098C7 inset;
	background-color: #8CBDF9;
}